events {}
http {
    upstream backend {
		ip_hash;
        server {{ tomcat_1 }}:8080;
        server {{ tomcat_2 }}:8080;
        server {{ tomcat_3 }}:8080;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://backend;
        }
    }
}